.navbar-brand {
    margin-left: 1rem;
}

.navbar-nav {
    margin-right: 1rem;
}

.footer {
    height: 60px;
}

img {
    width: 80px;
    height: 80px;
}

.my-chat {
    display: flex;
    flex-direction: row-reverse;
}

.chat-heading {
    background: rgba(0, 0, 0, 0.06);
}

.footer p {
    padding-top: 1%;
    color: #333333;
}