.navbar-brand {
    margin-left: 1rem;
}

.navbar-nav {
    margin-right: 1rem;
}

img {
    width: 120px;
    height: 120px;
}

th,
td {
    letter-spacing: 1px;
}

.footer {
    height: 60px;
}

.footer p {
    padding-top: 1%;
    color: #333333;
}